@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Times New Roman';
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}
.form{
    position: absolute;
    top: 24%;
    left: 70%;
    border: 1px solid transparent;
    width: 290px;
    height: 280px;
    padding: 20px;
    padding-left: 35px;
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgba(202, 202, 202, 0.918);
    color: black;
    box-shadow: 0 0 10px black;
}
#head{
    text-align: center;
    font-size: 25px;
    margin-top: -5px;
}
#message{
	display: none;
}
 form input{
         height: 30px;
         width: 250px;
         background: transparent;
         border-top: none;
         border-left: none;
         border-right: none;
         border-bottom: 1px solid rgb(160, 155, 155);    
         color: black;     
 }
 form input:focus{
    outline: none;
    }
 form button{
     height: 30px;
     width: 130px;
     margin-top: 10px;
     background-color: rgb(231, 112, 112);
     color: white;
     border-radius: 5px;
     border: none;
     font-weight: bold;
     font-size: 15px;

 }
#background{
    background: linear-gradient(rgba(0,0,0,.5)50%,rgba(0,0,0,.5)50%), url("https://images.pexels.com/photos/4148860/pexels-photo-4148860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
