*{
    margin: 0;
    padding: 0;
   
}
h1{
    font-family: 'Times New Roman';
}
.form{
    position: absolute;
    top: 24%;
    left: 70%;
    border: 1px solid;
    border-color: black;
    width: 300px;
    height: 280px;
    padding: 20px;
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    border-radius: 10px;
    background-color: white;
    color: black;
}
#background{
    background: url("https://wallpapercave.com/wp/wp5611846.jpg");
    height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
